<div class="navbar navbar-expand-sm navbar-lewagon">
  <div class="navbar-lewagon navbar-brand img">
    <%= image_tag "logo.png" %>
    <h1>Awesome Garage</h1>
  </div>

  <div>
    <ul class="navbar-nav me-auto">
      <li>
        <%= link_to "Home", cars_path, class: "nav-link" %>
      </li>
      <li>
        <%= link_to "My Garage", favourites_path, class: "nav-link"  %>
      </li>
    </ul>
  </div>
</div>

<div class="container mt-5">
  <div class="cards">
    <% @cars.each do |car| %>
      <div class="card-car">
        <%= link_to car_path(car) do%>
          <div>
            <h1><%= car.brand %></h1>
            <h2><%= car.model %></h2>
            <p>Thurs Oct 3 at 11:46 AM</p>
          </div>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjogFleHbcGDh6hCM8Xsae38prZAw3uNRCZA&s" alt="Car Image">
        <% end %>
      </div>
    <% end %>
  </div>
</div>
