<div class="navbar navbar-expand-sm navbar-lewagon">
  <div class="navbar-lewagon navbar-brand img">
    <%= image_tag "logo.png" %>
  </div>
  <h1>My Awesome Garage</h1>
  <div class=".navbar-lewagon .navbar-collapse">
    <%= link_to "Home", cars_path%>
    <%= link_to "My Garage", favourites_path %>
  </div>
</div>

<div class="container mt-5">
  <div class="cards">
    <div class="card-car">
      <% if @car.favourites.empty? %>
        <%= simple_form_for [@car, @favourite] do |f| %>
          <%= f.submit "Add to Garage", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <p>This car is already in your garage.</p>
      <% end %>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjogFleHbcGDh6hCM8Xsae38prZAw3uNRCZA&s" alt="Car Image">
      <div class="card-car-description">
        <h1><%= @car.brand %></h1>
        <h2><%= @car.model %></h2>
        <h3><%= @car.year %></h3>
        <p><%= @car.fuel %></p>
      </div>
      <div class="card-car-info">
        <h2>New Review</h2>
        <%= simple_form_for [@car, @review] do |f| %>
          <%= f.input :comment %>
          <%= f.input :rating, collection: 1..5 %>
          <%= f.submit "Submit Review", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="card-car">
    <h2>Reviews</h2>
    <% @car.reviews.each do |review| %>
      <h3><%= review.comment %></h3>
      <h3>Rating: <%= review.rating %></h3>
      <h3>------------------------</h3>
    <% end %>
  </div>
</div>
